body {
  font: 100% Arial, Lucida Sans, Verdana;
  margin:0;
}

#header {
  background-color: #eee;
  padding:10px;
}

#nav {
}

ul#nav {
  background-color: #ccc;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Sticky */
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

#nav li {
  float:left;
  border-right: 1px solid #fff;
}

#nav li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color:#333;
}

#nav li a:hover {
  color: #888;
  background-color: #eee;
}
